@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Quicksand:wght@300;400;500;600&display=swap');


.step_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37.74px;
    margin-top: 40px;
}
.step_bar img{
    cursor: pointer;
}
.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13.76px;
}
.bars div:nth-child(1){
    width: 88px;
height: 7px;

background: linear-gradient(89.84deg, #9C3BE6 0.85%, #AF4FBD 99.88%);
border-radius: 3.66912px;
}
.bar{
    width: 87px;
height: 7px;

background: rgba(244, 242, 242, 0.12);
border-radius: 3.66912px;
}

.form_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 66.71px 0px;
    gap: 38px;
}
.upl_cont{
    margin-top: 10.09px;
    margin-bottom: 2.78px;
}
.upl_text{
    font-style: normal;
font-weight: 500;
font-size: 11.7689px;
line-height: 17px;
/* identical to box height, or 143% */


/* metaflask */

background: linear-gradient(89.84deg, #9C3BE6 0.85%, #E78B3C 99.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
}
.drag{
    font-style: normal;
font-weight: 500;
font-size: 11.7689px;
line-height: 17px;
/* identical to box height, or 143% */


color: #FFFFFF;
}
.limit_cont{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.0876px;
line-height: 13px;
/* identical to box height, or 133% */

text-align: center;

color: #FFFFFF;

}
.img_cont img{
    width: 30.26px;
    height: 30.26px
}
.img_cont{
    padding: 25.51px 25.51px;
    width: 185.5px;
height: 185.5px;
background-color: #1e1e1e;
border: 1px dashed white;
border-radius: 15.67px;
font-family: 'Inter';
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}
.text_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    gap: 18px;
    width: 466px;
}
.time{
    font-family: 'Quicksand';
    font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
color: #FFFFFF;
}
.points_cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.point_cont{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #B4B4B4;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}
.proc_button{
    font-family: 'Inter';
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 8px 28px; */
    background: linear-gradient(89.84deg, #9C3BE6 0.85%, #E78B3C 99.88%);
border-radius: 32px;
width: 170px;
height: 44px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
cursor: pointer;
border: none;
}
.proc_button a{
    text-decoration: none;
    color: #ffffff;
}